.mainDiv{ 
    background: radial-gradient(84.05% 84.05% at 56.02% 17.59%, #3D0080 0%, #3A007B 3%, #25005E 28%, #160049 53%, #0D003C 77%, #0A0138 100%);
   text-align:  center;
    width: 100vw;
    height: 97vh;
}