<div class="dialogDiv">
    <div *ngFor="let chatObject of ChatList">
        <div>
          
          <div class="reqDiv">{{ chatObject.req.text }}</div>
        
        </div>
        <div>
          
          <div class="resDiv">
              <div>{{ chatObject.res.text }}</div>
              <div *ngFor="let phoneObject of chatObject.res.phoneNumbers">
                <div>{{ phoneObject.Value }}</div>
              </div>
              <div class="logoDiv"> 
                <img src="assets/img/logo.png" style="width: 6vw;"> </div>
          </div>
        </div>
      </div>
</div>
