<div class="chatAskDiv">

    <div class="inputDiv">
        <input class="inputAsk" type="text" placeholder="דברי איתי" value="{{tryText}}" >


        <div  (click)="startRecording()" *ngIf="!isUserSpeaking">
          <img class="imgSize" src="assets\img\micro_start.png" >
            
        </div>

        <div *ngIf="isUserSpeaking" (click)="cancelRecording()">

            <img class="imgSize" src="assets\img\micro_stop.png" >

        </div>
        <div  *ngIf="isUserSpeaking" (click)="stopRecording()" class="stopRecord">
        עצור הקלטה
        </div>
    </div>
    <div class="imgHeadphone">
        <img style="width: 40%" src="assets\img\headphone.png" >

    </div>
</div>

<!--
<div (click)="startRecording()" *ngIf="!isUserSpeaking">
    <span>record</span>
</div>
<button  *ngIf="isUserSpeaking" (click)="stopRecording()">
    <span>stop</span>
</button>
<input type="text" placeholder="here" value="{{tryText}}">-->