.chatAskDiv{
    display: grid;
    grid-template-columns:auto 20vw;
  
    
    margin: 2vh 2vw 2vh 2vw;
    width:100vw;
    height: 5vh;
}

.inputDiv{
    display: flex;
    background-color: #F5E7FF;
    border-radius: 24px;
}

.inputImg{
    border-right: solid;
}
.stopRecord{
    width: 100px;
    height: 100px;
    background-color: azure;
    position: absolute;
    top: -300px;
    right: 150px;
    border-radius: 3px;

}