.chatAskDiv{
    display: grid;
    grid-template-columns:auto 1fr 1fr;
  
    
    margin: 2vh 2vw 2vh 2vw;
    width:82vw;
    height: 5vh;
}

.inputDiv{
    display: flex;
    background-color: #F5E7FF;
    border-radius: 24px;
}